<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>SCI - EMS</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

</head>
<body>

	<div class="container">
		<a href="/"> <img src="../static/images/logo.png" width="100"
			th:src="@{images/logo.png}" />
		</a>

	  <form action="#" th:action="@{/test-select}" th:object="${doctor2HospitalAssignment}" method="post">
		<select th:field="*{doctorID}">
			<option  th:each="doctor : ${doctors}" th:value="${{doctor.id}}" 
			th:text="${{doctor.firstName+' '+doctor.lastName}}">Doctor</option>
		</select>
		<select th:field="*{hospitalID}">
			<option  th:each="hospital : ${hospitals}" th:value="${{hospital.id}}" 
			th:text="${{hospital.name}}">Hospital</option>
		</select>
		<input type="submit" value="save"/>
	   </form>
	</div>

</body>
</html>